body {
    background-color: lightskyblue;
    padding: auto;

}

header {
    text-align: center;
    background: orange;
    font-size: large;
    padding: auto;
    width: 40%;
    position: center;
    
}

#instructions {

    text-align: center;
    background: blue;
    font-size: medium;
    padding: auto;
    width: 40%;

    
}

#randomNumber {

    text-align: center;
    background: navy;
    font-size: medium;
    padding: auto;
    width: 40%;

    
}

#playerNumber {

    text-align: center;
    background: rebeccapurple;
    font-size: medium;
    padding: auto;
    width: 40%;

}

#score {
    
    text-align: center;
    background: green;
    font-size: medium;
    padding: auto;
    width: 40%;

}

#numbersBox {

    text-align: center;
    background: white;
    font-size: medium;
    padding: auto;
    width: 30%;

}

#buttons {
    
    text-align: center;
    background: red;
    font-size: medium;
    padding: auto;
    width: 40%;
}

#scorebox {
    
    text-align: center;
    background: burlywood;
    font-size: medium;
    padding: auto;
    width: 40%;

}

.crystalImages {

    width: 100px;
    height: 100px;
}


