body {
    background-color: lightskyblue;
    width: 60%;


}

header {
    text-align: center;
    background: orange;
    font-size: 36px;
    padding-top: 35px;
    padding-bottom: 35px;
    height: 100px;
    width: 300px;
    position: center;
    
}

#instructions {

    text-align: center;
    background: blue;
    font-size: medium;
    padding: auto;
    width: 40%;

    
}

#randomNumber {

    text-align: center;
    background: pink;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 200px;

    
}

#playerNumber {

    text-align: center;
    background: seagreen;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100x;
    width: 200px;

}

#score {
    
    text-align: center;
    background: green;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 200px;

}

#numbersBox {

    text-align: center;
    background: white;
    font-size: medium;
    padding: auto;
    width: 30%;

}

#buttons {
    
    text-align: center;
    background: red;
    font-size: medium;
    padding: auto;
    width: 40%;
}

#scorebox {
    
    text-align: center;
    background: grey;
    font-size: medium;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;

}

.crystalImages {

    width: 75px;
    height: 75px;
    padding: auto;
    margin-bottom: 10px;
}

#crystals {

    text-align: center;
    background: tan;
    font-size: medium;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 40%;

}

#yourTotalScoreIs {

    text-align: center;
    background: greenyellow;
    font-size: medium;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;

}


